function CalculatorApp.new 1
push constant 1
call Memory.alloc 1
pop pointer 0
call Calculator.new 0
pop local 0
push local 0
pop this 0
push pointer 0
return
function CalculatorApp.run 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 140
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
push local 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 48
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE2
push local 1
push constant 49
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE3
push local 1
push constant 50
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 2
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE4
push local 1
push constant 51
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 3
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE5
push local 1
push constant 52
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 4
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE6
push local 1
push constant 53
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 5
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE7
push local 1
push constant 54
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 6
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE8
push local 1
push constant 55
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 7
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE9
push local 1
push constant 56
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 8
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE10
push local 1
push constant 57
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 9
pop local 2
push this 0
push local 2
call Calculator.updateScreen 2
pop temp 0
label IF_FALSE11
push local 1
push constant 43
eq
push local 1
push constant 45
eq
or
push local 1
push constant 42
eq
or
push local 1
push constant 47
eq
or
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 0
push local 1
call Calculator.operate 2
pop temp 0
label IF_FALSE12
push local 1
push constant 129
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push this 0
call Calculator.clearScreen 1
pop temp 0
push this 0
call Calculator.reset 1
pop temp 0
label IF_FALSE13
push local 1
push constant 128
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 0
call Calculator.calculate 1
pop temp 0
label IF_FALSE14
push constant 500
call Sys.wait 1
pop temp 0
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function CalculatorApp.dispose 0
push argument 0
pop pointer 0
push this 0
call Calculator.clearScreen 1
pop temp 0
push this 0
call Calculator.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
